.git/
.vscode/
__pycache__/
*.py[cod]
*.log
.pytest_cache/
.mypy_cache/
venv/
.env
.env.local
docker/.env.docker
db.sqlite3
logs/
images/
staticfiles/
=2.2.1
apps/moderation/datasets/**
!apps/moderation/datasets/
!apps/moderation/datasets/en_badwords.json
!apps/moderation/datasets/vi_badwords.json
