django>=3.2
python-dotenv
djangorestframework
PyJWT
Pillow
pytz
tzdata
channels
channels-redis
asgiref
redis
django-cors-headers
djangorestframework-simplejwt
django-filter
django-celery-beat
django-celery-results
daphne
mysqlclient>=2.2.1
whitenoise