django==5.2.13
PyMySQL
python-dotenv
djangorestframework
PyJWT
Pillow
pytz
tzdata
channels
channels-redis
asgiref
daphne
redis
django-cors-headers
djangorestframework-simplejwt
django-filter
django-celery-beat
django-celery-results
uvicorn[standard]
cryptography
